<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-lg-6">
      <div id="accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                 aria-controls="collapseOne">
                Добавить адрес
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne"
               data-parent="#accordion">
            <div class="card-body">
              <form (ngSubmit)="addAddress()" #addAddressForm="ngForm">
                <input type="text" name="region" [(ngModel)]="newAddress.region" class="form-control"
                       placeholder="Область" required autofocus>
                <input type="text" name="locality" [(ngModel)]="newAddress.locality" class="form-control"
                       placeholder="Район" required>
                <input type="text" name="street" [(ngModel)]="newAddress.street" class="form-control"
                       placeholder="Улица" required>
                <input type="text" name="houseNumber" [(ngModel)]="newAddress.houseNumber" class="form-control"
                       placeholder="Номер дома" required>
                <input type="text" name="apartmentNumber" [(ngModel)]="newAddress.apartmentNumber" class="form-control"
                       placeholder="Номер квартиры" required>
                <button class="btn btn-primary" type="submit">Добавить адрес</button>
              </form>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseTwo" aria-expanded="true"
                 aria-controls="collapseTwo">
                Удалить адрес
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
               data-parent="#accordion">
            <div class="card-body">
              <form (ngSubmit)="deleteAddress()">
                <input [(ngModel)]="id" type="text" name="deleteId" class="form-control" placeholder="ID адреса"
                       required>
                <button class="btn btn-primary mt-3" type="submit">Удалить адрес</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row pt-4">
    <div class="col"></div>
    <div class="col-lg-9 table">
      <table class="table-bordered table-hover">
        <thead>
        <tr>
          <td>ID адреса</td>
          <td>Область</td>
          <td>Район</td>
          <td>Улица</td>
          <td>Номер дома</td>
          <td>Квартира</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let address of addresses" (click)="showModal(address.id, address)">
          <td>{{address.id}}</td>
          <td>{{address.region}}</td>
          <td>{{address.locality}}</td>
          <td>{{address.street}}</td>
          <td>{{address.houseNumber}}</td>
          <td>{{address.apartmentNumber}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col"></div>
  </div>
</div>
